
<div class="container myBg">
<div class="row">
<!--img src="../../assets/brand_scenary.jpg" alt="" style="width:100%;height:60vh"-->
<a href="" (Click)="goBack()"> back </a>
<h1> Hello AddItem </h1>

	<div class="col-sm-4" style="height: 400px;">		

		<div class="row">
			 
			   
			<div class="col-sm-1">
			</div>			
			<div class="col-sm-11"  style="border:1px solid;height: 350px;background-color: green">
			<form id="contact_form" #addItemForm="ngForm" (ngSubmit)="addItem(addItemForm)">

			 <div class="form-group">
			    <label for="username">username:</label>
			    <input type="text" class="form-control" name="username" id="username" [ngModel]=myusername>
			  </div>
			  <div class="form-group">
			    <label for="groupName">groupName:</label>
			    <input type="text" class="form-control" name="groupName" id="groupName" [ngModel]=groupName>
			  </div>
			  <div class="form-group">
			    <label for="itemname">itemname:</label>
			    <input type="text" class="form-control" name="itemname" id="itemname" ngModel>
			  </div>
			  <div class="form-group">
			    <label for="priceperqty">priceperqty:</label>
			    <input type="text" class="form-control" name="priceperqty" id="priceperqty" ngModel>
			  </div>
			  <div class="form-group">
			    <label for="qty">qty:</label>
			    <input type="text" class="form-control" name="quantity" id="quantity" ngModel>
			  </div>

			  <div class="form-group">			    
			    <input type="submit" class="form-control">
			  </div>
			  </form>
			</div>
			
		</div>
      
	</div>

	<div class="col-sm-4" style="height: 400px;"> 
	</div>

	<div class="col-sm-4" style="height: 400px;">
		<div class="row">			
			<div class="col-sm-11"  style="border:1px solid;height: 300px;background-color: green">
				<div class="table-responsive">
				  <table class="table">
				    <thead>
				     <tr>
				     	<th> itemname </th>
				     	<th> amount </th>
				     </tr> 
				    </thead>
				    <tbody>
				    	<tr *ngFor="let item of itemList">
				    	<td> {{item.itemname}} </td>
				    	<td> {{item.priceperqty * item.quantity}} </td>
				    	</tr>
				    </tbody>
				  </table>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
	</div>

</div>
</div>